[flake8]
exclude =
    */migrations/,
    venv/,
    env/,
    __init__.py
per-file-ignores =
    config/settings.py:E501 F405 F403 F401
    config/settings_test.py:E501 F405 F403 F401
max-complexity = 10
max-line-length = 120
